<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">SpeakerBox</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><%= link_to "Home", root_path %></a></li>
      </ul>
    </nav>
  </div>
</div>
