<!DOCTYPE html>
<html>
<head>
  <title>Speakerbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <body>
      <%= yield %>
      <br>
      </body>
      <div class="inner">
        <p>&copy; dajob_Demo 2015</p>
      </div>
    </div>
  </div>
</div>




</html>
